.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 50px;
    font-family: Arial;
}

.title {
    font-size: clamp(40px, 6vw, 60px);
    font-weight: 700;
}

.subtitle {
    background-color: var(--yellow);
    font-size: clamp(20px, 2vw, 22px);
    margin-top: 10px;
    padding: 2px 30px; 
    text-align: center;
    max-width: 90%;
}

.gallery {
    display: flex;
}

.small {
    width: 25vw;
}

.large {
    width: 50vw;
}


@media (max-width: 1000px) {
    .gallery {
        overflow-x: scroll;
        gap: 5px;
    }

    .small {
        width: 75vw;
    }

    .large {
        width: 150vw;
    }
}