.promoSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px;
    background-image: linear-gradient(to top, var(--yellow), white);
    gap: 40px;
}

.promoText {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: var(--font_base);
}

.lightning {
    width: clamp(50px, 12vw, 100px);
}

.discount {
    font-size: clamp(48px, 12vw, 160px);
    line-height: 1;
}

.imageWrapper {
    flex: 0.75;
}

.image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
    display: block;
}

@media (max-width: 850px) {
    .promoSection {
        flex-direction: column;
        text-align: center;
        padding: 30px 15px;
        gap: 20px;
    }

    .imageWrapper {
        width: 100%;
    }

    .image {
        width: 100%;
        height: 70vh;
        object-fit: cover;
    }

    .discount {
        font-size: clamp(40px, 20vw, 120px);
    }
}
