.productsList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 20px;
    width: 70%;
    margin: 50px auto;
}

.productCard {
    position: relative;
    text-decoration: none;
    color: #000;
    transition: transform .2s ease, box-shadow .2s ease;
}

.productCard:hover {
    transform: translateY(-15px);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

.image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.badge {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    color: var(--yellow);
    padding: 6px 10px;
    font-size: 13px;
    font-weight: 700;
    border-bottom-right-radius: 4px;
}

.productInfo {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 6px;
    margin-top: 12px;
    font-family: Arial;
    padding: 4px;
}

.productInfo span:first-child {
    font-size: 16px;
}

.productInfo span:last-child {
    font-size: 18px;
    font-weight: bold;
}

@media (max-width: 1000px) {
    .productsList {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}