.announcement {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 40px;
    color: white;
    font-size: 15px;
    font-family: Helvetica, sans-serif;
}

.navbar {
    display: flex;
    height: 80px;
    border-bottom: solid #000 1px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow);
    border-right: solid #000 1px;
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    margin-right: auto;
    width: 250px;
}

.navList {
    display: flex;
    font-family: Arial;
    list-style: none;
}

.navItem {
    width: 200px;
    border-right: solid #000 1px;
}

.navItem a {
    color: black;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    border: none;
    width: 250px;
    gap: 10px;
    font-size: 16px;
    cursor: pointer;
}

.cartButton img {
    width: 30px;
}

@media (max-width: 1100px) {
    .navbar {
        background-color: var(--yellow);
        padding: 0;
    }

    .logo {
        border-right: none;
        width: 150px;
    }

    .navList {
        display: none;
    }

    .cartButton {
        display: none;
    }
}