.cartPanel {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    max-width: 90%;
    height: 100vh;
    background-color: white;
    font-family: var(--font_base);
    font-weight: bolder;
    z-index: 10;
    transform: translateX(100%);
    transition: transform .35s ease;
}

.cartPanelOpen {
    transform: translateX(0);
}

.title {
    display: flex;
    align-items: center;
    background-color: var(--yellow);
    height: 8vh;
    border-bottom: solid #000 2px;
    padding-inline: 20px;
    box-sizing: border-box;
}

.products {
    flex-grow: 1;
    overflow-y: auto;
    padding-block: 20px;
}

.cartIsEmpty {
    width: 50%;
    margin: auto;
}

.productCard {
    display: flex;
    padding: 10px 15px;
    font-weight: normal;
    width: 100%;
    box-sizing: border-box;
}

.productImage {
    width: 30%;
    border: solid #adadad 1px;
    aspect-ratio: 3 / 4;
}

.productInfo {
    width: 70%;
    padding: 10px 30px;
    box-sizing: border-box;
}

.productPrice {
    padding-block: 10px;
}

.qtyControls {
    display: flex;
    justify-content: space-around;
    min-width: 70px;
    border: solid rgb(167, 167, 167) 1px;
    padding: 5px 10px;
    margin-top: 15%;
}

.qtyControls button {
    background-color: inherit;
    color: rgb(167, 167, 167);
    border: none;
    cursor: pointer;
}

.summary {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: auto;
}

.promoCode {
    display: flex;
    gap: 10px;
    color: #384AD3;
    background-color: transparent;
    border: none;
    border-top: solid #adadad 1px;
    padding: 20px;
    font-size: 15px;
    font-weight: normal;
    cursor: pointer;
}

.promoCode img {
    width: 18px;
    object-fit: contain;
}

.promoCodeDropDown {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.promoCodeDropDown input {
    height: 40px;
    width: 60%;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
}

.promoCodeDropDown button {
    height: 40px;
    width: 38%;
    font-size: 20px;
    color: black;
    background-color: var(--yellow);
    border: solid gray 1px;
    cursor: pointer;
}

.totalCost {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 20px;
    border-top: solid #adadad 1px;
}

.payment {
    background-color: black;
    color: var(--yellow);
    height: 40px;
    font-size: 20px;
    cursor: pointer;
}

.payment:hover {
    background-color: var(--yellow);
    color: black;
}
